<head>
  <meta charset="UTF-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1"
  />
  <meta
    http-equiv="Content-Security-Policy"
    content="default-src 'none'; script-src 'self' 'sha256-mOt5CQEidsRudZgzHoj8tnDYBi4K6FxrEQJWv1mhzX0='; style-src 'self' 'unsafe-inline'; img-src 'self' data:; font-src 'self'; connect-src 'self'; form-action 'self'; base-uri 'self'; manifest-src 'self'"
  />

  <title>
    {%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
  </title>

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl | replace: '//', '/' }}?v={{ site.time | date: '%s' }}">

  <link
    href="/atom.xml"
    type="application/atom+xml"
    rel="alternate"
    title="ATOM Feed"
  />
  <script src="/assets/copy-code.js?v={{ site.time | date: '%s' }}" defer></script>
  {% seo %}
</head>
